@page "/depositos/crear"
@inject IHttpServicio Http
@inject NavigationManager Navigation

@* <div class="card border-0 shadow-sm mb-4">
    <div class="card-body bg-gradient p-4 text-center rounded-3" style="background: linear-gradient(135deg, #0d6efd, #3b8ef3);">
        <h2 class="fw-bold text-Black mb-1" style="font-family: 'Poppins', sans-serif;">
            <i class="bi bi-building-add me-2"></i> Añadir nuevo Depósito
        </h2>
        <p class="text-Black mb-0" style="opacity: 0.9;">
            Completa los datos del depósito y guarda los cambios.
        </p>
    </div>
</div>

<div class="card shadow-sm p-4">
    <EditForm Model="@deposito" OnValidSubmit="@Guardar">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <label class="form-label fw-semibold">Código de Depósito</label>
            <InputText class="form-control" @bind-Value="deposito.CodigoDeposito" />
        </div>

        <div class="mb-3">
            <label class="form-label fw-semibold">Nombre del Depósito</label>
            <InputText class="form-control" @bind-Value="deposito.NombreDeposito" />
        </div>

        <div class="mb-3">
            <label class="form-label fw-semibold">Tipo de Depósito</label>
            <InputSelect class="form-control" @bind-Value="deposito.TipoDeposito">
                @foreach (var tipo in Enum.GetValues(typeof(EnumTipoDeposito)))
                {
                    <option value="@tipo">@tipo</option>
                }
            </InputSelect>
        </div>
        <div class="mb-3">
            <label class="form-label fw-semibold">Domicilio</label>
            <InputText class="form-control" @bind-Value="deposito.Ubicacion.UbicacionDomicilio" />
        </div>

        <div class="d-flex justify-content-end gap-2 mt-3">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-save"></i> Guardar
            </button>
            <button type="button" class="btn btn-secondary" @onclick="Volver">
                <i class="bi bi-x-circle"></i> Volver
            </button>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public long Id { get; set; }
    private DepositoAsociarDTO deposito = new DepositoAsociarDTO
    {
        Ubicacion = new UbicacionDTO(),
        
    };
    string Mensaje = "";

    private async Task Guardar()
    {
        var res = await Http.Post<DepositoAsociarDTO, int>("api/deposito/crear", deposito);
        if (res.Respuesta != null)
        {
            Navigation.NavigateTo("/deposito");
        }
        else
        {
            Mensaje = "Error al guardar el depósito.";
            return;
        }
    }

    private void Volver()
    {
        Navigation.NavigateTo("/deposito");
    }
} *@
