@page "/deposito"
@inject IHttpServicio Http
@inject NavigationManager Navigation

<div class="text-center mb-4">
    <h2 class="fw-bold text-primary" style="font-family: 'Poppins', sans-serif;">
        <i class="bi bi-box-seam"></i> Depósitos
    </h2>
</div>
<br />
<div class="d-flex justify-content-end mb-3">
    <button class="btn btn-success shadow-sm" @onclick="DepositoCrear">
        <i class="bi bi-plus-circle me-1"></i> Agregar
    </button>
</div>
<br />
@if (depositos == null)
{
    <div class="text-center text-secondary">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
        <p class="mt-2">Cargando depósitos...</p>
    </div>
}
else if (depositos.Count == 0)
{
    <p class="text-center text-muted fst-italic">No hay depósitos disponibles.</p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>CodigoDeposito</th>
                <th>NombreDeposito</th>
                <th>TipoDeposito</th>
                <th>Domicilio</th>
                <th style="width: 150px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var deposito in depositos)
            {
                <tr>
                    <td>@deposito.CodigoDeposito</td>
                    <td>@deposito.NombreDeposito</td>
                    <td>@deposito.TipoDeposito.ToString()</td>
                    <td></td>
                    <td>
                        <button class="btn btn-sm btn-warning me-2"
                           title="Editar" @onclick="() => EditarDeposito(deposito.Id)"><i class="bi bi-pencil"></i></button>
                        <button class="btn btn-sm btn-danger" 
                        title="Eliminar" @onclick="() => EliminarDeposito(deposito.Id)"><i class="bi bi-trash"></i>
                    </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<VerDepositoDTO>? depositos;
    DatosUsuario? usuario;
    string Mensaje = "";

    protected override async Task OnInitializedAsync()
    {
        await CargarDepositos();
        await ObtenerDepositosPorUsuario();

    }  
    private async Task CargarDepositos()
    {
        try
        {
            var res = await Http.Get<List<VerDepositoDTO>>("api/deposito");

            if (res.Respuesta != null)
            {
                depositos = res.Respuesta;
            }
            else
            {
                depositos = new List<VerDepositoDTO>();
                Console.WriteLine("No se recibieron depósitos del backend.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($" Error al obtener depósitos: {ex.Message}");
            depositos = new List<VerDepositoDTO>();
        }
    }
    public async Task ObtenerDepositosPorUsuario()
    {
        try
        {
            var usuariores = await Http.Get<DatosUsuario>("api/obtener-usuario");
            if (usuariores.Respuesta != null)
            {
                usuario = usuariores.Respuesta;
                var res = await Http.Post<DatosUsuario, Response<List<VerDepositoDTO>>>("api/deposito/por-usuario", usuario);
                if (res != null)
                {
                    depositos = res.Respuesta.Objeto;
                }
                else
                {
                    depositos = new List<VerDepositoDTO>();
                }
            }
            else
            {
                Mensaje = "No se pudo obtener el usuario.";
            }

        }
        catch (Exception ex)
        {

            Mensaje = $"Error al cargar depósitos: {ex.Message}";
            depositos = new List<VerDepositoDTO>();
        }  
    }

    private void EditarDeposito(long id)
    {
        Navigation.NavigateTo($"/deposito/editar/{id}");
    }

    private async Task EliminarDeposito(long id)
    {
        var res = await Http.Delete<Response<string>>($"api/deposito/{id}");
        if (res != null && res.Respuesta != null)
        {
            Mensaje = "Deposito eliminado correctamente";
            await CargarDepositos();
        }
        else
        {
            Mensaje = "Error al eliminar el depósito.";
        }
    }   

    private void DepositoCrear()
    {
        Navigation.NavigateTo("/depositos/crear");
    }
} 