@page "/recursos/unidad-medida"
@using DTO.DTOs_MaterialesYmaquinarias
@using DTO.DTOs_Recursos
@using DTO.DTOs_Response
@using DTO.Enum
@inject IHttpServicio http
@inject NavigationManager navManager

<PageTitle>Unidades de medida - ProStockConstructora</PageTitle>

<article class="p-4">
    <div class="d-flex">
        <h3 class="fw-bold text-primary mb-4">Unidades de medida</h3>
        <a href="/recursos" class="btn btn-secondary"><i class="bi bi-arrow-left-circle me-1"></i> Volver 👍</a>
    </div>

    <div class="row">
        <EditForm Model="unidad" class="card col-12 col-md-6">
            <DataAnnotationsValidator />

            <!-- Campo Nombre -->
            <div class="my-3 px-3">
                <label class="form-label">Nombre</label>
                <InputText class="form-control" @bind-Value="unidad.Nombre" />
                <ValidationMessage For="@(() => unidad.Nombre)" />
            </div>

            <!-- Campo Simbolo -->
            <div class="my-3 px-3">
                <label class="form-label">Simbolo</label>
                <InputText class="form-control" @bind-Value="unidad.Simbolo" />
                <ValidationMessage For="@(() => unidad.Simbolo)" />
            </div>

            <!-- Botones -->
            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-success" @onclick="() => ActualizarUnidad()">
                    <i class="bi bi-check-circle me-1"></i> Actualizar
                </button>
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-check-circle me-1"></i> Crear
                </button>
            </div>
        </EditForm>

        <div class="table-responsive mt-2 col-12 col-md-6">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Símbolo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (unidad == null && listadoUnidades.Count == 0)
                    {
                        <tr>
                            <td colspan="2" class="text-center text-muted">No hay unidades de medida cargadas aún.</td>
                        </tr>
                    }
                    else if (listadoUnidades != null)
                    {
                        @foreach (var u in listadoUnidades)
                        {
                            <tr>
                                <td>@u.Nombre</td>
                                <td>@u.Simbolo</td>
                                <td>
                                    <button class="btn btn-outline-warning mx-1">
                                        <i class="bi bi-pencil-fill"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</article>

@code {
    private List<UnidadDeMedidaDTO> listadoUnidades = new();
    private UnidadDeMedidaDTO unidad = new();
    private string Mensaje = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await CargarUnidades();
    }

    private async Task CargarUnidades()
    {
        var res = await http.Get<Response<List<UnidadDeMedidaDTO>>>($"api/unidad-medida");

        if (res.Respuesta != null)
        {
            listadoUnidades = res.Respuesta.Objeto;
            Mensaje = res.Respuesta.Mensaje;
        }
    }

    private async Task CrearUnidad()
    {
        var res = await http.Post<UnidadDeMedidaDTO, Response<string>>("api/unidad-medida", unidad);

        if (res.Respuesta != null)
        {
            await CargarUnidades();
        }
    }

    private async Task ActualizarUnidad()
    {
        
    }
}