@page "/obras/{ObraId:long}/depositos/{DepositoId:long}/recursos/tipo-material"
@inject IHttpServicio http
@inject NavigationManager navManager
@inject DatosSesion datosSesion

<PageTitle>Tipos de material - ProStockConstructora</PageTitle>

@if(datosSesion.Usuario != null)
{
    <article class="p-4">
        <div class="cabecera">
            <p class="fw-bolder">Tipos de material</p>
            <a class="btn btn-secondary" href=@($"/obras/{ObraId}/depositos/{DepositoId}/recursos")><i class="fas fa-arrow-circle-left"></i>&ensp; Atrás</a>
        </div>

        <div class="row">
            <EditForm EditContext="editContext" class="card col-12 col-md-6" style="height: fit-content">
                <DataAnnotationsValidator />
                @if (!string.IsNullOrEmpty(Mensaje))
                {
                    <div class="alert alert-danger text-center mx-2 mt-2">
                        @Mensaje
                    </div>
                }
                <div class="my-3 px-3">
                    <label class="form-label">Nombre</label>
                    <InputText class="form-control" @bind-Value="tipoMaterial.Nombre" />
                    <ValidationMessage For="@(() => tipoMaterial.Nombre)" />
                </div>

                @if (IdMarca != 0)
                {
                   <div class="d-flex justify-content-end gap-2 mb-2">
                       <button type="button" class="btn btn-primary" @onclick="() => ActualizarTipoMaterial(tipoMaterial.Id)">
                           <i class="bi bi-check-circle me-1"></i> Actualizar
                       </button>
                   </div>
                } else
                {
                   <div class="d-flex justify-content-end gap-2 mb-2">  
                           <button type="submit" class="btn btn-success" @onclick="CrearTipoMaterial">
                               <i class="bi bi-check-circle me-1"></i> Crear
                           </button>
                   </div>
                }
            </EditForm>

            
            <div class="table-responsive mt-2 col-12 col-md-6 overflow-auto" style="max-height: 70vh"
            @onclick="() => { IdMarca = 0; tipoMaterial = new(); }">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @if (!listadoTipoMaterial.Any())
                    {
                        <tr>
                            <td colspan="2" class="text-center text-muted">No hay tipos de material cargados aún.</td>
                        </tr>
                    }
                    else if (listadoTipoMaterial != null)
                    {
                        @foreach (var u in listadoTipoMaterial)
                        {
                            <tr class="@(IdMarca == u.Id ? "table-primary" : "")">
                                <td>@u.Nombre</td>
                                <td>
                                    <button class="btn @(IdMarca == u.Id ? "btn-warning" : "btn-outline-warning") mx-1" 
                                    @onclick:stopPropagation="true"
                                    @onclick="async() => {                                  
                                            if(IdMarca == u.Id) {
                                                IdMarca = 0;
                                                tipoMaterial = new();
                                            }
                                            else {
                                                IdMarca = u.Id;
                                                await CargarTipoMaterial(u.Id);
                                            }
                                        }">
                                        <i class="bi bi-pencil-fill"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    } 
                    </tbody>
                </table>
            </div>
        </div>
    </article>
} 
else
{
    navManager.NavigateTo("/");
}

@code {
    [Parameter]
    public long ObraId { get; set; } 
    [Parameter]
    public long DepositoId { get; set; }

    private DatosUsuario usuario = new();
    private EditContext editContext;
    private List<TipoMaterialDTO> listadoTipoMaterial = new();
    private TipoMaterialDTO tipoMaterial = new();
    private string Mensaje = string.Empty;
    private long IdMarca = 0;
    private bool Autenticado = true;

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (datosSesion.Usuario != null)
        {
            usuario = datosSesion.Usuario;
            editContext = new EditContext(tipoMaterial);
            await CargarTiposDeMaterial();
        }
        else Autenticado = false;
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if(usuario == null && !Autenticado) navManager.NavigateTo("/");  
        return base.OnAfterRenderAsync(firstRender);
    }

    private async Task CargarTiposDeMaterial()
    {
        Mensaje = string.Empty;
        var res = await http.Get<Response<List<TipoMaterialDTO>>>($"api/tipo-material/empresa/{usuario.EmpresaId}");

        if (res.Respuesta != null)
        {
            listadoTipoMaterial = res.Respuesta.Objeto;
            StateHasChanged();
        }
    }

    private async Task CrearTipoMaterial()
    {
        Mensaje = string.Empty;
        if (editContext.Validate())
        {
            tipoMaterial.EmpresaId = usuario.EmpresaId;
            var res = await http.Post<TipoMaterialDTO, Response<string>>($"api/tipo-material/{usuario.EmpresaId}", tipoMaterial);

            if (res.Respuesta != null)
            {
                Mensaje = res.Respuesta.Mensaje.Contains("exito") ? string.Empty : res.Respuesta.Mensaje;
                tipoMaterial = new();
                editContext = new(tipoMaterial);
                StateHasChanged();
                await CargarTiposDeMaterial();
            }
        }
    }

    private async Task CargarTipoMaterial(long id)
    {
        Mensaje = string.Empty;
        var res = await http.Get<Response<TipoMaterialDTO>>($"api/tipo-material/tipoMaterial/{id}");
        if (res.Respuesta != null)
        {
            tipoMaterial = res.Respuesta.Objeto;
            editContext = new(tipoMaterial);
            StateHasChanged();
        }
    }

    private async Task ActualizarTipoMaterial(long id)
    {
        Mensaje = string.Empty;
        if (editContext.Validate())
        {
            var res = await http.Put<TipoMaterialDTO, Response<string>>($"api/tipo-material/{id}", tipoMaterial);
            if (res.Respuesta != null)
            {
                Mensaje = res.Respuesta.Mensaje.Contains("exito") ? string.Empty : res.Respuesta.Mensaje;
                tipoMaterial = new();
                editContext = new(tipoMaterial);
                IdMarca = 0;
                StateHasChanged();
                await CargarTiposDeMaterial();
            }
        }
    }   
}
