
.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: .5%;
}

    .cabecera p {
        margin: 0;
        font-size: 1.1rem;
    }

    .cabecera button {
        display: flex;
        align-items: center;
    }
