@inherits LayoutComponentBase
@inject NavigationManager navManager;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content @ClassForPage">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private string ClassForPage = "";

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        ClassForPage = navManager.Uri.ToLower().EndsWith("/") ? "log-in" : "";
    }
}