@inject DatosSesion datosUsuario;
@inject NavigationManager navManager;

<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""> <img src="LogoPSC.png" /> ProStock</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav bg-dark flex-column">
        <div class="nav-item px-3">
<<<<<<< HEAD
            <NavLink class="nav-link" href="/recursos">
                <span class="bi bi-box-seam-fill-nav-menu" aria-hidden="true"></span> Recursos
            </NavLink>

            <NavLink class="nav-link" href="/obras">
                <span class="bi bi-building-fill-nav-menu" aria-hidden="true"></span> Obras
            </NavLink>

         @*    @if(datosUsuario.Usuario != null)
=======

            <NavLink class="nav-link" href="deposito">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Depositos
            </NavLink>

            <NavLink class="nav-link" href="obra">
                <i class="bi bi-people-fill"></i> Obras
            </NavLink>

            @if(datosUsuario.Usuario != null)
>>>>>>> a8b31e8c0c543069e3149da4a07c437b47cf2a54
            {
                <NavLink class="nav-link cerrarsesion" @onclick="CerrarSesion">
                    <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
                </NavLink>
                <NavLink class="nav-link" href="usuarios">
                    <i class="bi bi-people-fill"></i> Usuarios
                </NavLink>
            } *@
        </div>
    </nav>
</div>

@code {
    protected override void OnInitialized()
    {
        datosUsuario.OnChange += StateHasChanged;
    }

    private void CerrarSesion()
    {
        datosUsuario.LimpiarDatos();
        navManager.NavigateTo("/");
    }
}