@inject DatosSesion datosUsuario;
@inject NavigationManager navManager;

<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""> <img src="LogoPSC.png" /> ProStock</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav bg-dark flex-column">
        <div class="nav-item px-3">
            @if(datosUsuario.Usuario != null)
            {
                <NavLink class="nav-link cerrarsesion" @onclick="CerrarSesion">
                    <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
                </NavLink>
                <NavLink class="nav-link" href="usuarios">
                    <i class="bi bi-people-fill"></i> Usuarios
                </NavLink>
            }
        </div>
    </nav>
</div>

@code {
    protected override void OnInitialized()
    {
        datosUsuario.OnChange += StateHasChanged;
    }

    private void CerrarSesion()
    {
        datosUsuario.LimpiarDatos();
        navManager.NavigateTo("/");
    }
}