@page "/eliminar-nota/{numero}"
@inject NavigationManager Nav



@if (nota == null)
{
    <p>Cargando...</p>
}
else
{
    <div class="d-flex justify-content-center mt-4">
        <div class="card shadow-sm" style="max-width: 450px; width: 100%;">
            <div class="card-header text-white bg-danger">
                <h5 class="mb-0 text-center">Eliminar Nota de Pedido</h5>
            </div>

            <div class="card-body text-center">

                <p class="mb-3">
                    ¿Esta seguro que desea eliminar la nota de pedido
                    <strong>@nota.NumeroNotaPedido</strong>?
                </p>

                @if (mostrarConfirmacion)
                {
                    <div class="alert alert-success p-2">
                        Nota de pedido eliminada correctamente ✔
                       
                    </div>
                }

                <div class="d-flex justify-content-center gap-2 mt-3">
                    <button class="btn btn-danger btn-sm" @onclick="Eliminar">
                         Eliminar
                    </button>

                    <button class="btn btn-secondary btn-sm" @onclick="Volver">
                         Volver
                    </button>
                </div>

            </div>
        </div>
    </div>
}

  
}
@code {
    bool mostrarConfirmacion = false;


    [Parameter] public string? numero { get; set; }

    VerNotaDePedidoDTO? nota;

    protected override async Task OnInitializedAsync()
    {
        nota = new VerNotaDePedidoDTO
        {
            NumeroNotaPedido = numero!,
            DepositoOrigenId = 10,
            DepositoDestinoId = 20,
            FechaEmision = DateTime.Now.AddDays(-3),
            Estado = DTO.Enum.EnumEstadoNotaPedido.Pendiente
        };
    }

    private async Task Eliminar()
    {
        mostrarConfirmacion = true;
        StateHasChanged();

        await Task.Delay(8000);

        mostrarConfirmacion = false;

        Nav.NavigateTo("/notadepedidos");

    }

        private void Volver()
    {
        Nav.NavigateTo("/notadepedidos");
    }


        
    }
