@page "/obras/{ObraId:long}/depositos/{DepositoId:long}/notadepedido/{NotaDePedidoId:long}/detalles"
@inject IHttpServicio Http
@inject NavigationManager Nav
@inject DatosSesion Sesion


<h3 class="mb-4">Ver Nota de Pedido</h3>

@if (nota == null)
{
    <p>Cargando...</p>
}
else
{
    <div class="card p-4 shadow">
        <p><b>Nº de Nota:</b> @nota.NumeroNotaPedido</p>
        <p><b>Fecha Emisión:</b> @nota.FechaEmision.ToShortDateString()</p>
        <p><b>Estado:</b> @nota.Estado</p>


    </div>
}

@code {
    [Parameter] public long ObraId { get; set; }
    [Parameter] public long DepositoId { get; set; }
    [Parameter] public long NotaDePedidoId { get; set; }


    VerNotaDePedidoDTO? nota;

    protected override async Task OnInitializedAsync()
    {
        await CargarNotadePedido();
    }

    private async Task CargarNotadePedido()
    {
        var Respuesta = await Http.Get<Response<VerNotaDePedidoDTO>>($"api/notadepedido/obtener-detalles-nota/{NotaDePedidoId}");
        if (Respuesta.Respuesta != null)
        {
            nota = Respuesta.Respuesta.Objeto;
        }
        else
        {
            // Manejar error (mostrar mensaje, redirigir, etc.)
        }
    }
}