@page "/obras/{ObraId:long}/depositos/{DepositoId:long}/notadepedido/{NotaDePedidoId:long}/detalles"
@inject IHttpServicio Http
@inject NavigationManager Nav
@inject DatosSesion Sesion

@if (Sesion.Usuario != null)
{
    <article class="p-4">
        <div class="cabecera">
            <p class="fw-bolder">Notas de pedido (Detalles)</p>
            <a class="btn btn-secondary" href=@($"/obras/{ObraId:long}/depositos/{DepositoId:long}/notadepedido")><i class="fas fa-arrow-circle-left"></i>&ensp; Atrás</a>
        </div>
        <div class="card p-3">
            @if (!string.IsNullOrEmpty(MensajeError))
            {
                <div class="alert alert-danger" role="alert">
                    @MensajeError
                </div>
            }
            @if (nota != null)
            {
                <div class="my-3 px-4">
                    <label for="emailInput" class="form-label">Número Nota de Pedido</label>
                    <input @bind="nota.NumeroNotaPedido" type="text" class="form-control" disabled />
                </div>
                @foreach (var renglon in nota.ListaDePedido)
                {
                    <div class="my-3 px-4 card d-flex flex-row flex-nowrap align-items-center">
                        <div class="flex-grow-1 my-3 px-4">
                            <label class="form-label">Depósito destino:</label>
                            @* <input @bind="renglon." type="text" class="form-control" disabled /> *@
                        </div>
                        <div class="flex-grow-1 my-3 px-4">
                            <label class="form-label">Recurso solicitado:</label>
                            @* <input @bind="renglon." type="text" class="form-control" disabled /> *@
                        </div>
                        <div class="my-3 px-4">
                            <label for="cantidadInput" class="form-label">Cantidad solicitada:</label>
                            @* <input @bind="renglon." type="number" class="form-control" disabled /> *@
                        </div>
                        <div class="my-3 px-4">
                            <label for="cantidadInput" class="form-label">Estado:</label>
                            @* <input @bind="renglon." type="number" class="form-control" disabled /> *@
                        </div>
                    </div>
                }
            }
        </div>
    </article>
}
else
{
    Nav.NavigateTo("/");
}

@code {
    [Parameter] public long ObraId { get; set; }
    [Parameter] public long DepositoId { get; set; }
    [Parameter] public long NotaDePedidoId { get; set; }
    private string MensajeError;
    private VerNotaDePedidoDTO nota;

    protected override async Task OnInitializedAsync()
    {
        await CargarNotadePedido();
    }

    private async Task CargarNotadePedido()
    {
        var Respuesta = await Http.Get<Response<VerNotaDePedidoDTO>>($"api/notadepedido/obtener-detalles-nota/{NotaDePedidoId}");
        if (Respuesta.Respuesta != null)
        {
            if (Respuesta.Respuesta.Objeto != null) nota = Respuesta.Respuesta.Objeto;
            else MensajeError = Respuesta.Respuesta.Mensaje;
        }
    }
}